{% extends 'base.html' %}
<!--This template expects a form object instantiated from the LoginForm class to be given as an argument-->
<!--This argument is sent by the login view function-->
{% block content %}

    <form action="" method="post" novalidate>
        <div class="default-header-text">
            {{ _('Sign In') }}
        </div>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }} <br>
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
            <span style="color:red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }} <br>
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
            <span style="color:red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p> {{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
        <br>
        <p>{{ _('New User?') }} <a href="{{ url_for('auth.register') }}">{{ _('Click to Register!') }}</a></p>
    </form>
    
{% endblock %}