    <table>
        <tr valign="top">
            <td>
                <a href="{{ url_for('main.user', username=post.author.username) }}">
                    <img class="post-avatar" src="{{ post.author.avatar(120) }}">
                </a>
                <br>
                {% set user_link %}
                    <a class="post-link" href="{{ url_for('main.user', username=post.author.username) }}">
                        {{ post.author.username }}
                    </a>
                {% endset %}
                {% if post.parent_post %}
                    {% set said = "replied" %}
                {% else %}
                    {% set said = "said" %}
                {% endif %}
                {{ _('%(username)s %(said)s %(when)s', username=user_link, said=said, when=moment(post.timestamp).fromNow()) }}:
                </td>
                <td>
                {% if post.parent_post %}
                <div class="parent-post-link {{ post.parent_post }}"><a href="#post{{ post.parent_post }}">@ {{ post.parent(id=post.parent_post).author.username }}: {{ post.parent(id=post.parent_post).body }}</a></div>
                {% endif %} <b>
                <div class="post-body" id="post{{ post.id }}">{{ post.body }}</div></b>
                <div class="translation-body" id="translation{{ post.id }}"></div></b>
                {% if post.images %}
                    <a href="javascript:popup('{{ post.id }}')"><div id="image-container-{{ post.id }}" class="image-container">
                    {% for image in post.images %}
                        <img src="{{ url_for('static', filename=image.thumbnail_path) }}" class="thumbnail" alt="Thumbnail Image">
                    {% endfor %}
                    </div>
                    </a>
                    <div id="popup-container-{{ post.id }}" class="popup-container" style="display: none;">
                        <span id="popup-close-{{ post.id }}" class="popup-close">&times;</span>
                        <div class="popup-content">
                        {% for image in post.images %}
                            <img src="{{ url_for('static', filename=image.original_path) }}" class="popup-image" alt="Full Size Image">
                        {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </td>
            <td>
                {% if post.language and post.language != g.locale %}
                <span id="translation{{ post.id }}">
                    <a class="post-link" href="javascript:translate('post{{ post.id }}', 'translation{{ post.id }}',
                                                  '{{ post.language }}', '{{ g.locale }}');">{{ _('Translate') }}</a>
                </span>
                {% endif %}
                <a class="post-link" href="{{ url_for('main.reply', post_id=post.id, post_author=post.author.username, board_id=post.board_id) }}">
                    {{ _('Reply') }}
                </a>
            </td>
        </tr>
    </table>

    <script>

        function popup(postId) {
            const imageContainer = document.getElementById(`image-container-${postId}`);
            const popupContainer = document.getElementById(`popup-container-${postId}`);
            const popupImage = document.getElementsByClassName("popup-image");
            const closeBtn = document.getElementById(`popup-close-${postId}`);

            popupContainer.style.display = "flex";

            // Close the popup when the close button is clicked
            closeBtn.addEventListener("click", () => {
                popupContainer.style.display = "none";
                });

            // Close the popup when clicking outside the popup content
            popupContainer.addEventListener("click", (event) => {
                if (event.target === popupContainer) {
                popupContainer.style.display = "none";
                }
            });
        }

    </script>