<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{ title }} - MyBubble</title>
    {% else %}
    <title>{{ _('Welcome to MyBubble') }}</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navbar">
        <a class="logo" href="{{ url_for('main.index') }}">MyBubble</a>
        <nav class="nav">
            <a class="links" aria-current="page" href="{{ url_for('main.index') }}">{{ _('Home') }}</a>
            {% if current_user.is_authenticated %}
                <a class="links" aria-current="page" href="{{ url_for('main.messages') }}">{{ _('Messages') }}
                    {% set unread_message_count = current_user.unread_message_count() %}
                    <span id="message_count" class="badge text-bg-danger"
                        style="visibility: {% if unread_message_count %}visible
                                     {% else %}hidden {% endif %};">
                        {{ unread_message_count }}
                    </span>
                </a>
                <a class="links" aria-current="page" href="{{ url_for('main.user', username=current_user.username) }}">{{ _('Your Page') }}</a>
            {% endif %}
            {% if current_user.is_anonymous %}
            <a class="links" aria-current="page" href="{{ url_for('auth.login') }}">{{ _('Login') }}</a>
            {% else %}
            <a class="links" aria-current="page" href="{{ url_for('auth.logout') }}">{{ _('Logout') }}</a>
            {% endif %}
        </nav>
    </div>

    <div class="main-container">
        {% if current_user.is_authenticated %}

        {% endif %}

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </div>
    <footer>
      <div class="footer-container">
        <p>&copy; 2025 MyBubble by Olga Neiasova</p>
      </div>
    </footer>

{% block scripts %}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
    <script>
      async function translate(sourceElem, destElem, sourceLang, destLang) {
        document.getElementById(destElem).innerHTML =
          '<img src="{{ url_for('static', filename='loading.gif') }}">';
        const response = await fetch('/translate', {
          method: 'POST',
          headers: {'Content-Type': 'application/json; charset=utf-8'},
          body: JSON.stringify({
            text: document.getElementById(sourceElem).innerText,
            source_language: sourceLang,
            dest_language: destLang
          })
        })
        const data = await response.json();
        document.getElementById(destElem).innerText = data.text;
      }

      function set_message_count(n) {
        const count = document.getElementById('message_count');
        count.innerText = n;
        count.style.visibility = n ? 'visible' : 'hidden';
      }

      {% if current_user.is_authenticated %}
      function initialize_notifications() {
        let since = 0;
        setInterval(async function() {
          const response = await fetch('{{ url_for('main.notifications') }}?since=' + since);
          const notifications = await response.json();
          for (let i = 0; i < notifications.length; i++) {
            switch (notifications[i].name) {
              case 'unread_message_count':
                set_message_count(notifications[i].data);
                break;
              case 'task_progress':
                set_task_progress(notifications[i].data.task_id,
                    notifications[i].data.progress);
                break;
            }
            since = notifications[i].timestamp;
          }
        }, 10000);
      }
      document.addEventListener('DOMContentLoaded', initialize_notifications);
      {% endif %}
    </script>
{% endblock %}
{{ moment.lang(g.locale) }}
</body>
</html>