{% extends "base.html" %}

{% block content %}
<div class="main-container">
    <div id="forum-header">
        <section class="board-links">
            <div class="links"><a aria-current="page" href="{{ url_for('main.board_posts', board_name='Casual') }}"><img class="link-svg" src="{{ url_for('static', filename='conversation-svgrepo-com.svg')}}"><span class="adaptive-links">{{ _('Casual') }}</span></a></div>
            <div class="links"><a aria-current="page" href="{{ url_for('main.board_posts', board_name='Movies') }}"><img class="link-svg" src="{{ url_for('static', filename='cinema-svgrepo-com.svg')}}"><span class="adaptive-links">{{ _('Movies') }}</span></a></div>
            <div class="links"><a aria-current="page" href="{{ url_for('main.board_posts', board_name='Music') }}"><img class="link-svg" src="{{ url_for('static', filename='music-svgrepo-com.svg')}}"><span class="adaptive-links">{{ _('Music') }}</span></a></div>
            <div class="links"><a aria-current="page" href="{{ url_for('main.board_posts', board_name='Video Games') }}"><img class="link-svg" src="{{ url_for('static', filename='arcade-svgrepo-com.svg')}}"><span class="adaptive-links">{{ _('Video Games') }}</span></a></div>
            <div class="links"><a aria-current="page" href="{{ url_for('main.board_posts', board_name='Books') }}"><img class="link-svg" src="{{ url_for('static', filename='books-study-svgrepo-com.svg')}}"><span class="adaptive-links">{{ _('Books') }}</span></a></div>
        </section>

    {% if current_user.is_authenticated %}

        <div id="form-post">
            <div class="default-header-text">
                {{ _('Hi, %(username)s! Welcome on the %(boardname)s board', username=current_user.username, boardname=title) }}
            </div>
            <form action="" method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <p>
            {{ form.post.label }}<br>
            {{ form.post(cols=32, rows=4) }}<br>
            {{ form.image.label }}
            {{ form.image }}
            {% for error in form.post.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
            </form>
        </div>
    {% else %}
    <div class="default-header-text">
        {{ _('Hi, anonymous! Welcome on the %(boardname)s board', boardname=title) }}<br>
        {{ _('If you want to post something or reply, please') }}
            <a aria-current="page" href="{{ url_for('auth.login') }}">{{ _('log in') }}</a>
    </div>
    {% endif %}
</div>
    <div class="default-posts-header">
        {{ _('Board Posts') }}
    </div>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    {% if prev_url %}
    <a class="post-link" href="{{ prev_url }}">{{ _('Newer posts') }}</a>
    {% endif %}
    {% if next_url %}
    <a class="post-link" href="{{ next_url }}">{{ _('Older posts') }}</a>
    {% endif %}
</div>

{% endblock %}