{% extends "base.html" %}
    
{% block content %}
    <div class="main-container">
        <div class="default-header-text">
            {{ _('Your Messages') }}
        </div>
    
        {% for post in messages %}
            {% include '_post.html' %}
        {% endfor %}
        {% if prev_url %}
        <a class="post-link" href="{{ prev_url }}">{{ _('Newer posts') }}</a>
        {% endif %}
        {% if next_url %}
        <a class="post-link" href="{{ next_url }}">{{ _('Older posts') }}</a>
        {% endif %}
        <nav aria-label="...">
            <a class="post-link" href="{{ prev_url or '#' }}">
                {{ _('Newer messages') }}
            </a>
            <a class="post-link" href="{{ next_url or '#' }}">
                {{ _('Older messages') }}
            </a>
        </nav>
    </div>
{% endblock %}
